<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Salva Film</title>
</head>

				 
<body>

	<div class="container">
	
		<h3>Film</h3>
		<hr>
		
		<p class="h4 mb-4">Salva Film</p>
	
		<form action="#" th:action="@{/films/save}"
						 th:object="${film}" method="POST">
				
			<input type="text" th:field="*{titolo}"
					class="form-control mb-4 col-4" placeholder="Titolo">

			<input type="text" th:field="*{dataUscita}"
					class="form-control mb-4 col-4" placeholder="Data Uscita">

			<input type="text" th:field="*{Tipo}"
					class="form-control mb-4 col-4" placeholder="Tipo">
				
			<input type="text" th:field="*{Regista}"
					class="form-control mb-4 col-4" placeholder="Regista">
			
			<input type="text" th:field="*{Incasso}"
					class="form-control mb-4 col-4" placeholder="Incasso">
						
			<button type="submit" class="btn btn-info col-2"
								onclick="alert('Film aggiunto/aggiornato alla lista')">
								Salva
			</button>
						
		</form>
	
		<hr>
		<a th:href="@{/films/list}">Torna alla lista dei film</a>
		
	</div>
</body>

</html>










